/* Selector universal */

html{
    font-size: 62.5%;
}
/* Selector de etiquetas */
h1 {
    color: #1B1A1A;
    font-size: 35px;
    
}



h2 {
    color: #1B1A1A;
    font-size: 25px;
    
}

h3 {
    color: #1B1A1A;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

a{
    color: #F4F21A;
}

.logo{
    width: 40px;
    height: 40px;
    padding: 3px;
    margin: 0px;
}

footer {
    width: 100%;
    height: 300px;
    background-color: #1B1A1A;
    padding: 10px color #1B1A1A;
    margin: 10px 0px 0px 
}

/* Selectores de clase */



.formulario {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    padding: 20px;
    border: 5px;
    margin: 10px ;
}


.nav{
    background-color: #1B1A1A;
    width: 100%;
    height: 90px;
    margin: 0px;
    border: 0px;
    padding: 10px;
    
}


.bienvenida{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border: 5px;
    margin: 30px 10px 10px;
}



.ahref{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 10px; 
    border: 10px;
    margin: 20px 5px 10px;
}

.cta{
    padding: 10px;
    border: 5px;
    margin: 10px;}

.mapa{
    margin: 10px 20px 50px;
    padding: 10px;
}

/* contenedores de Contacto */

.primertítulo{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    width: 600px;
    height: 30px;
    margin: 10px;
    padding: 10px;
}

.segundotítulo{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    width: 300px;
    height: 30px;
    margin: 10px;
    padding: 30px;
    border: 10px;
}

.tercertítulo{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    height: 30px;
    margin: 10px;
    padding: 30px;
    border: 10px;

}

.cuartotítulo {
    margin: 20px;
    padding: 20px 20px;
    border: 5px;
    width: 250px;
    height: 30px;
    text-align: left;
    font-family: 'Oswald', sans-serif;
}


.cajaredes{
    padding: 10px;
    margin: 20px;
}

.redes{
    font-style: medium;
    font-family: 'Montserrat', sans-serif;
    color: #F4F21A;
    padding: 5px;
    border: 5px;
    margin: 5px;
    width: 150px;
    text-align: center;             
}

.íconos{
    font-style: medium;
    color: #F4F21A;
    padding: 5px;
    border: 5px;
    margin: 5px 5px 5px 20px;
    width: 150px;
    text-align: left; 
}


.cajamenú{
    padding: 10px;
    margin: 20px;
    width: 150px;
}


.menú0{
    font-style: medium;
    font-family: 'Montserrat', sans-serif;
    color: #F4F21A;
    padding: 5px;
    border: 5px;
    margin: 5px 5px 5px 20px;
    
    text-align: left; 
}

.menú1{
    font-style: medium;
    color: #F4F21A;
    padding: 5px;
    border: 5px;
    margin: 5px 5px 5px 30px;
    font-family: 'Poppins', sans-serif;
    text-align: left; 
}


.cajainfo{
    padding: 10px;
    margin: 20px;
    width: 200px;

}

.info{
    font-style: medium;
    font-family: 'Montserrat', sans-serif;
    color: #F4F21A;
    padding: 5px;
    border: 5px;
    margin: 5px 5px 5px 20px;
    
    text-align: left; 

}


.info1{
    font-style: medium;
    font-family: 'Poppins', sans-serif;
    color: #F4F21A;
    padding: 5px;
    border: 5px;
    margin: 5px 5px 5px 30px;
    
    text-align: left; 

}

